@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes moveToCart {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    50% {
      transform: translateY(-50px);
    }
    100% {
      transform: translateY(-100px) scale(0.5);
      opacity: 0;
    }
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .animate-move-to-cart {
    animation: moveToCart 2s ease-in-out forwards;
  }
  
  .animate-fade-in {
    animation: fadeIn 0.5s ease-in-out;
  }
  
